@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    height:100vh;
    background-color: black;
    color: white;
    /* background-image: url(../image/stage-bkgnd.jpg); */
    background-image: url(../image/theater-stage-ar02032020.jpg);
    /* background-image: url(../image/—Pngtree—curtains\ on\ black\ stage\ design_2689069.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-style: oblique;
    background-attachment: fixed;
}

.img{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(155, 250, 250, 0.637);
    font-family: 'Cairo', sans-serif;
    width: 40%;
    color: white;
    border-radius: 7px;
}

.main{
    width: 35%;
    background:rgba(255, 255, 255,0.1); 
    margin-top: 0;
    padding: 15px;
    border: 2px solid red;
    border-radius: 5px;

}

h1{
    font-family: 'Cairo', sans-serif;
}

input {
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    border: 3px solid red;
    text-align: center;
}

.id{
    display: none;
}

/* input:focus{
    border: 3px solid black;
} */

.checkbox{
    margin-bottom: 3px;
    font-family: 'Cairo', sans-serif;
    /* color: red; */
}

.checkbox input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    border: 3px solid red;  
    text-align: center;
}

h3 {
    
    color: red;
    text-align: center;
}


.button {
    margin-top: 25px;
}

button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: chartreuse;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 7px;

}

a {
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    font-family: 'Cairo', sans-serif;
    font-weight: normal; 
} 

select{
    margin-bottom: 10px;
    width: 63%;
    padding: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    /* color: gray; */
    border-radius: 5px;
    border: 3px solid red;
}

option{
    font-weight: bold;
    color: gray;
    text-align: center;
}
