@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    height:100vh;
    background-color: black;
    color: white;
    /* background-image: url(../image/stage-bkgnd.jpg); */
    background-image: url(../image/theater-stage-ar02032020.jpg);
    /* background-image: url(../image/—Pngtree—curtains\ on\ black\ stage\ design_2689069.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-style: oblique;
    background-attachment: fixed;
    font-family: 'cairo', sans-serif;
}

main{
    width: 35%;
    background:rgba(255, 255, 255,0.1); 
    margin-top: 15px;
    padding: 15px;
    border: 2px solid red;
    border-radius: 5px;
}

input {
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    border: 3px solid red;
    text-align: center;
}


h3 {
    color: white;
    font-size: 30px;
}


button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: chartreuse;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 7px;

}

.del{
    background-color: rgb(255, 4, 4);
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    border: 1px solid rgb(255, 4, 4) ;
    border-radius: 10px;
} 

.retrn {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

label{
    color: rgb(255, 255, 255);
    float: left;
    font-weight: bold;
    
}

